@using IdentityServer4.Extensions
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Configuration
@inject IViewLocalizer Localizer
@inject IConfiguration Configuration
@{

    if (Context.User.IsAuthenticated())
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_LayoutExt.cshtml";

    }
}
@if (Context.User.IsAuthenticated())
{
    @section breadcrumb
        {

        <!-- Breadcrumb-->
        <ol class="breadcrumb m-lg-0">
            <li class="breadcrumb-item">@Localizer["Menu-Home"]</li>
            <li class="breadcrumb-item">
                <a asp-action="Index" asp-controller="Home">@Localizer["Menu-User"]</a>
            </li>
        </ol>
    }
}


<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-5 col-sm-8 col-xs-12 text-center">
            <img class="img img-responsive img-circle" src="/images/brand/logo-square.png" height="150" width="150" alt="داریک سافت" />
            <br />
            <br />
            <h1>
                سیستم احراز هویت کاربران داریک سافت
            </h1>
            <hr />
            <a class="btn btn-primary" asp-controller="Account" asp-action="Login">ورود به سیستم </a>
        </div>
    </div>
</div>

